/*Global colours*/
/*Text shadow for headings, 3d effect*/
/*Page reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Global nav bar styling */
#nav-icon {
  display: none;
}

#top-of-page-nav {
  display: flex;
  grid-area: nav;
  width: 100vw;
  height: 7rem;
  justify-content: space-around;
  background-color: white;
}
#top-of-page-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
#top-of-page-nav ul li {
  border-right: solid 3px #F7CEDF;
}
#top-of-page-nav ul li:last-child {
  border: none;
}
#top-of-page-nav ul li a {
  text-decoration: none;
  color: black;
  padding-right: 0.5rem;
  font-family: sans-serif;
}

/*Global primary button styling*/
.primary-button {
  font-family: kanit;
  text-decoration: none;
  color: #000000;
  border: none;
  box-shadow: 5px 10px 2px #F7CEDF;
  background-color: white;
  background-position: center;
}

/*Global back to top styling*/
#back-top-button {
  background-color: #F7CEDF;
  border-radius: 45%;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 2px 2px 1px #000000;
  text-decoration: none;
  color: #000000;
  font-family: sans-serif;
  padding: 0.5rem;
}

/*Global footer styling*/
footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  padding: 10px 7px;
  margin: 0;
  max-width: 100vw;
}
footer ul {
  flex-wrap: wrap;
}
footer #footer-copyright {
  font-size: 0.8rem;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
footer ul li {
  width: 50%;
}
footer ul a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #000000;
}
footer p {
  width: 30%;
  text-align: start;
}
footer .github-icon {
  width: 2.5rem;
}
footer .linkedin-icon {
  width: 2.5rem;
}

/*Global text styling*/
.page-title {
  font-family: acme, sans-serif;
  text-align: center;
  font-size: 5rem;
}

h2 {
  font-family: kanit, sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: kanit, sans-serif;
}

p {
  font-family: sans-serif;
}

/*Media Query for tablet*/
@media only screen and (min-width: 481px) and (max-width: 980px) {
  #nav-icon {
    width: fit-content;
    display: block;
    height: auto;
  }
}
/*Media Query for desktop*/
@media only screen and (min-width: 981px) and (max-width: 2800px) {
  #top-of-page-nav #nav-icon {
    width: max-content;
    display: block;
    height: auto;
  }
}
/*Import of global colours*/
/*Page content container styling*/
#blog-home-grid-container {
  display: grid;
  grid-template-areas: "nav" "title" "card-container" "footer";
}

/*Blog cards styling*/
.blog-cards-flex-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 100vw;
  justify-content: center;
}

.blog-cards {
  display: flex;
  width: 100vw;
  margin: 0.2rem;
  border: 2px solid black;
  text-decoration: none;
  color: #000000;
}

.date {
  font-style: italic;
  padding: 0.2rem;
}

.blog-card-images {
  height: 5rem;
  margin: 0.5rem;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #000000;
}

.blog-card-text {
  width: 100%;
  padding: 1rem;
}

.blog-cards:nth-child(even) {
  flex-direction: row-reverse;
  background: linear-gradient(to right top, #FFF099, #F7CEDF, #BDDDEF, #CAE5E4);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  align-items: center;
  border-radius: 8% 92% 5% 95%/84% 10% 90% 16%;
}

.blog-cards:nth-child(odd) {
  background: linear-gradient(to left bottom, #FFF099, #F7CEDF, #BDDDEF, #CAE5E4);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  align-items: center;
  border-radius: 94% 6% 89% 11%/8% 88% 12% 92%;
}

#back-top-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;
}

p {
  font-size: 0.7rem;
}

/*Keyframe styling for blog cards */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Media Query for tablets and ipads*/
@media only screen and (min-width: 481px) and (max-width: 980px) {
  .blog-cards {
    width: 70vw;
  }
}
/*Media query for desktop*/
@media only screen and (min-width: 981px) and (max-width: 2800px) {
  .blog-cards-flex-container {
    justify-content: center;
  }

  .blog-cards {
    max-width: 800px;
  }

  .blog-card-images {
    height: 15rem;
  }
}

/*# sourceMappingURL=blog_home.css.map */
