/*Import of global colours*/
@use '../style.scss' with ($primary-color: #F7CEDF,
$secondary-color: #BDDDEF,
$primary-accent-color: #FFF099,
$secondary-accent-color: #CAE5E4,
$paragraph-text-color: #000000);

